# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.env
Yout/

# VS Code
.vscode/

# Byte-compiled / optimized files
*.pyc
*.pyo
*.pyd

# Logs
*.log

# macOS
.DS_Store

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Build / distribution
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Local databases
*.sqlite3

# IDE files
.idea/
node_modules/
video_data_files/
node_modules/
yout/

